h1 {
    background-image: linear-gradient(243deg, #3dd875 23%, #0eb3a0 87%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    padding: 10px;
}
.textmain {
    padding-top: 0.5em;
    text-align: center;
    letter-spacing: -0.009em;
    color: rgb(0, 0, 0);
    letter-spacing: 0.04em;
    font-family: 'Helvetica', 'Arial';
    font-size: 20px;
    line-height: 1.0625;
    font-weight: 600;
    padding-bottom: 0.1em;
}
.white
{
    color:aliceblue;
}
.blackbg{
    color:#2E2E2E;
}
body
{
    background-color: black;
}
.pad
{
    padding-top: 20px;
}